@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/* font-family: "Inter", serif; */
/* font-family: "Merriweather", serif;
 */


 


*{
    margin: 0;
    padding: 0;
}

.banner{
    height: 650px;
    width: 1650px;
    border-radius: 16px;
    background: linear-gradient(180deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%),url(../images/Banner\ Image.png);;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.body-content{
    color: white;
    text-align: center;
}

.body-content>h4 {
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 15px;
    opacity: 0,8;
}

.body-content>h1{
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 65px;
    font-weight: 900;
    line-height: 86px;
}

.title{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.title >h1{
    color: rgb(255, 0, 0);
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 80px;
    font-weight: 700;
    line-height: 96px;
}

.title>p{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 17px;
    font-weight: 500;
    line-height: 19px;
    opacity: 0.9;
    margin-top: 30px;
}

.title>h2{
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 35px;
    font-weight: 700;
    line-height: 47px;
    margin-top: 15;
    margin-bottom: 25px;
}

.party{
    height: 600px;
    width: 1650px;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%),url(../images/Vectorrr.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}

.party .party-content{
    color: white;
}

.party-content>h1{
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 50px;
    font-weight: 900;
    line-height: 66px;
    letter-spacing: 11%;
    text-align: left;
    margin-top: 15px;
    margin-bottom: 20px;
}

.party-content>p{
    color: rgba(255, 255, 255, 0.8);
    font-family: Inter;
    font-size: 13px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 15px;
}

.party-image{
    text-align: center;
    /* margin-top: 30px; */
}

.hotel{
    height: 500px;
    width: 1650px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    margin: 100px auto;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
}

.hotel-details{
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 35px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
}

.red{
    color: red;

}

button{
    border-radius: 8px;
    padding: 12px 25px 12px 25px;
    background: rgb(255, 0, 0);
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 50px;
}